.add {
	width: 100%;
	height: 100vh;
	padding: 150px 0 100px 0;
	/* background-color: wheat; */
	display: flex;
	justify-content: center;
}

.add-box {
	background-color: #cccccc;
	padding: 100px 0 100px 0;
	width: 80%;
	border-radius: 2%;
}

.text-title-admin {
	color: black;
}
