.news {
	width: 100%;
	/* background: url("../../assets/img/background-img.jpg") 0 0/100% 100% no-repeat; */
	padding: 50px 0 0px 0;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.center-news {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.block-news {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uptitle {
	padding: 0px 0px 20px 0px;
	letter-spacing: 2.5px;
	font-weight: 600;
}

.block-title {
	font-size: 56px;
}

.card {
	margin: 20px 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-action1 {
	width: 100%;
	display: flex;
	justify-self: center;
}
.read-more {
	width: 100%;

	display: flex;
	justify-content: center;
}

.cart-action2 {
	width: 90%;
}

.counter-unput {
	width: 70%;
}

.input-group {
	width: 90%;
}

.buy {
	width: 40%;
}

/* .news-container{
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;	
}

.news-block{
width: 100% !important;
margin: 0 !important;
padding: 0 !important;
}

.news-box{
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
} */